.container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  .content {
    width: 500px;
  }

  .btnContainer {
    padding: 15px;
    .btn {
      border-radius: 30px;
      padding: 20px 100px;
      background-color: #0faf58;
      color: #fff;
      font-size: 24px;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}
