.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  box-shadow: 0 4px 2px -2px gray;

  .item {
    border-bottom: 2px solid #555555;
    margin: 10px;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: #fffaaa;
    }
  }

  .active {
    background-color: #fffaaa;
    border-bottom: 2px solid #555555;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
  }
}
