.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
  flex-direction: column;

  .title {
    font-weight: 500;
    font-size: 24px;
    color: #0faf58;
  }

  .imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    overflow: hidden;
  }
}
