.container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;

  .avatar {
    height: 200px;
    width: 200px;
    border-radius: 250px;
  }

  .content {
    .string {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 22px;
      color: #007cff;
      padding: 5px;
      font-weight: 500;
      border-bottom: 1px solid #999;
      max-width: 850px;

      .value {
        font-weight: 400;
        color: #555;
        padding-left: 10px;
      }
    }
  }
}
