.container {
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;

  cursor: pointer;

  .avatarContainer {
    padding-right: 25px;
    .avatar {
      border-radius: 50px;
      width: 100px;
      height: 100px;
    }
  }

  .content {
    .line {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 18px;
      color: #007cff;
      padding: 5px;
      font-weight: 500;
      max-width: 250px;

      .value {
        color: #555;
        padding-left: 10px;
      }
    }
  }

  .btnContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1;
    align-self: flex-end;

    .activeBtn {
      border-radius: 15px;
      border: 2px solid #555;
      padding: 5px 10px;
      background-color: #fffaaa;

      &:hover {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
        background-color: #ffffff;
      }
    }
    .btn {
      border-radius: 15px;
      border: 2px solid #555;
      padding: 5px 10px;

      &:hover {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
        background-color: #fffaaa;
      }
    }
  }
}

.activeContainer {
  &:hover {
    background-color: #0faf58;
  }
}
