.container {
  min-height: 50px;
  background: #0faf58;
  display: flex;
  justify-content: center;
  align-items: center;

  .input {
    width: 600px;
    font-size: 16px;
    padding: 3px 10px;
    color: #555;
    outline: none;

    &:focus {
      border: 1px solid #5e5e5e;
    }
  }
}
