.container {
  min-height: 50px;
  background: #0faf58;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  .btn {
    cursor: pointer;
    border-radius: 10px;
    background-color: #fff9a0;
    padding: 5px 15px;
    &:hover {
      opacity: 0.8;
    }
  }
}
