.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #fff;
  color: #ff0000;
  font-size: 40px;
  font-weight: 800;
}
